


.col-lg-3   {
    border: 2px solid black;
    height: 250px;
    width: 250px;
    margin: 5px;
}

.col-lg-6   {
    border: 2px solid black;
    height: 250px;
    width: 510px;
    margin: 5px;
    display: table-cell;
    text-align:center;
    vertical-align: middle;
    background:black;

    
}

#partyTime {
    width: 200px;
    height: 100px;
    margin-top:75px;

}